<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Rule 01">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:0}" logRewrittenUrl="true" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <remove fileExtension=".3g2" />
            <mimeMap fileExtension=".3g2" mimeType="video/3gpp2" />
            <remove fileExtension=".3gp2" />
            <mimeMap fileExtension=".3gp2" mimeType="video/3gpp2" />
            <remove fileExtension=".3gp" />
            <mimeMap fileExtension=".3gp" mimeType="video/3gpp" />
            <remove fileExtension=".3gpp" />
            <mimeMap fileExtension=".3gpp" mimeType="video/3gpp" />
            <remove fileExtension=".aac" />
            <mimeMap fileExtension=".aac" mimeType="audio/aac" />
            <remove fileExtension=".adt" />
            <mimeMap fileExtension=".adt" mimeType="audio/vnd.dlna.adts" />
            <remove fileExtension=".adts" />
            <mimeMap fileExtension=".adts" mimeType="audio/vnd.dlna.adts" />
            <remove fileExtension=".appcache" />
            <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
            <remove fileExtension=".dvr-ms" />
            <mimeMap fileExtension=".dvr-ms" mimeType="video/x-ms-dvr" />
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".jsonld" />
            <mimeMap fileExtension=".jsonld" mimeType="application/ld+json" />
            <remove fileExtension=".less" />
            <mimeMap fileExtension=".less" mimeType="text/css" />
            <remove fileExtension=".m2ts" />
            <mimeMap fileExtension=".m2ts" mimeType="video/vnd.dlna.mpeg-tts" />
            <remove fileExtension=".m4a" />
            <mimeMap fileExtension=".m4a" mimeType="audio/mp4" />
            <remove fileExtension=".m4v" />
            <mimeMap fileExtension=".m4v" mimeType="video/mp4" />
            <remove fileExtension=".mp4" />
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
            <remove fileExtension=".mp4v" />
            <mimeMap fileExtension=".mp4v" mimeType="video/mp4" />
            <remove fileExtension=".oga" />
            <mimeMap fileExtension=".oga" mimeType="audio/ogg" />
            <remove fileExtension=".ogg" />
            <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
            <remove fileExtension=".ogv" />
            <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
            <remove fileExtension=".otf" />
            <mimeMap fileExtension=".otf" mimeType="font/otf" />
            <remove fileExtension=".spx" />
            <mimeMap fileExtension=".spx" mimeType="audio/ogg" />
            <remove fileExtension=".svgz" />
            <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
            <remove fileExtension=".ts" />
            <mimeMap fileExtension=".ts" mimeType="video/vnd.dlna.mpeg-tts" />
            <remove fileExtension=".tts" />
            <mimeMap fileExtension=".tts" mimeType="video/vnd.dlna.mpeg-tts" />
            <remove fileExtension=".webm" />
            <mimeMap fileExtension=".webm" mimeType="video/webm" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
            <remove fileExtension=".wtv" />
            <mimeMap fileExtension=".wtv" mimeType="video/x-ms-wtv" />
            <remove fileExtension=".avi" />
            <mimeMap fileExtension=".avi" mimeType="video/avi" />
            <remove fileExtension=".cab" />
            <mimeMap fileExtension=".cab" mimeType="application/vnd.ms-cab-compressed" />
            <remove fileExtension=".eot" />
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
            <remove fileExtension=".ics" />
            <mimeMap fileExtension=".ics" mimeType="text/calendar" />
            <remove fileExtension=".js" />
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
        </staticContent>
    </system.webServer>
</configuration>