body {
    background: #ECECEC;
}

#login-panel {
    background: #3498DB;
    padding: 30px;
    width: 30%;
    min-width: 320px;
    margin: 10% auto;
    border-radius: 5px;
    color: #ffffff;
    font-weight: lighter;
}

#login-panel h3 {
    font-weight: lighter;
    margin-bottom: 20px;
}

#login-panel input[type=text],
#login-panel input[type=password] {
    border: solid 4px #5AABE2 !important;
    border-radius: 8px !important;
    background-color: #FFFFFF !important;
}
